body {
    font-family: Arial, Helvetica, sans-serif;
}

.parent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.right {
    margin-left: 60px;
}

.title {
    font-size: 25px;
    text-align: left;
}

.first-price {
    color: rgb(0, 187, 255);
    text-decoration-line: line-through;
    font-size: 22px;
    font-weight: bold;
}

.second-price {
    color: red;
    font-size: 27px;
    font-weight: bold;
    margin: 5px 0 0 6px;
}

.price {
    display: flex;
    margin-top: 10px;
}

.economy {
    margin-top: 30px;
    display: flex;
}

.pig img {
    width: 35px;
}

.economy-text {
    color: green;
    margin: 11px 0 0 6px;
}

.time {
    margin-top: 15px;
    display: flex;
}

.clock img {
    width: 35px;
}

.time-text {
    color: orange;
    opacity: 55%;
    margin-left: 5px;
}

.video-zapus {
    margin-top: 17px;
    line-height: 22px;
}

.buy {
    margin-top: 10px;
    width: 100%;
    padding: 17px 0;
    background-color: red;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.description {
    display: flex;
    margin: 20px 0 0 25px;
    align-items: center;
}

.small img {
    width: 35px;
}

.payments-text {
    margin-left: 13px;
}

.curses {
    width: 100%;
    margin: 20px auto 0;
    display: flex;
    gap: 50px;
    max-width: 1000px;
}

.curse-text {
    color: gray;
    opacity: 70%;
    margin-top: 10px
}

.prices {
    margin-top: 10px;
    display: flex;
}

.curse-first-price {
    opacity: 70%;
    text-decoration-line: line-through;
}

.curse-second-price {
    color: blue;
    margin-left: 7px;
    opacity: 70%;
}

.curse-third-price {
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 7px;
}

.curse {
    width: calc((100% - 150px)/4);
    position: relative;
}

.curse .action {
    transform: scale(0.6);
    top: -18px;
    right: -30px;
}

.curse img {
    height: 250px;
    min-width: 100%;
}

.edit-image {
    width: 100%;
    overflow: hidden;
}

.options {
    width: 100%;
    margin: 50px auto 0;
    display: flex;
    gap: 50px;
    max-width: 1000px;
}

.option {
    width: calc((100% - 150px)/4);
}

.option .title {
    margin-left: 15px;
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 10px;
    font-size: 15px;
}

.letter img {
    width: 35px;
    margin: 41px 0 0 85px;
}

.partners img {
    height: 35px;
    margin-top: 10px;
}

.partners-images {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.payments-images {
    display: flex;
    flex-wrap: wrap;
    margin-top: 27px;
    justify-content: space-between;
}

.payments-images img {
    height: 27px;
}

.title2 {
    margin-top: 30px;
}

.title3 {
    color: #777777;
    margin-bottom: 7px;
}

.last-text {
    margin-top: 12px;
    font-size: 13px;
    line-height: 20px;
}

.main-image {
    position: relative;
    width: 50%;
}

.main-image img {
    max-width: 500px;
}

.action {
    width: 150px;
    box-shadow: 1px -2px 17px -5px rgba(0,0,0,0.75);
    position: absolute;
    top: 0;
    right: -17px;
}

.action-title {
    background-color: #ff3d00;
    padding: 5px;
    text-align: center;
    color: white;
    position: relative;
}

.point {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 14px solid transparent;
    border-right: 14px solid #ff3d00;
    border-bottom: 14px solid transparent;
    left: -13px;
    top: 0px;
}

.subtitle {
    color: #666679;
    background-color: white;
}

.action-subtitle {
    display: flex;
    font-weight: bold;
}

.number {
    font-size: 25px;
    margin: 10px 0 0 45px;
}

.minus {
    margin: -7px 0 0 19px;
}

.percent {
    margin: 9px 0 0 36px;
}

.econom {
    font-size: 14px;
    margin: 5px 0 0 5px;
    text-align: center;
}

.towards {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

@media (max-width: 767px) {
    .parent {
        flex-direction: column;
    }
    .main-image {
        width: 50%;
        margin: 0 auto;
    }
    .main-image img {
        width: 100%;
    }
    .right {
        text-align: center;
        margin: 15px 0 0;
    }
    .title {
        text-align: center;
    }
    .curse {
        width: calc((100% - 50px) / 2);
        text-align: center;
    }
    .curses {
        flex-wrap: wrap;
    }
    .towards {
        margin-top: 15px;
        text-align: center;
    }
    .options {
        flex-wrap: wrap;
    }
    .option {
        width: calc((100% - 50px)/2);
    }
    .economy {
        margin-top: 5px;
    }
    .price {
        margin-top: 20px;
    }
    .prices {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .curse {
        width: 60%;
        text-align: center;
    }
    .curses {
        flex-wrap: wrap;
        justify-content: center;
    }
    .curse .prices {
        justify-content: center;
    }
    .towards {
        text-align: center;
    }
    .title2 {
        margin: 30px 0 0 40px;
    }
    .partners-images {
        justify-content: center;
    }
    .economy {
        margin-top: 5px;
    }
    .price {
        margin-top: 20px;
    }
}