body {
    margin: 0;
}

.container > div {
    float: left;
}

.container {
    height: 100vh;
}

.container2 {
    width: 85%;
}

.container3 {
    width: 85%;
    border: 1px solid black;
}

.side {
    background-color: yellow;
    height: 100vh;
    width: 15%;
}

.header {
    background-color: blue;
    height: 100px;
}

.main {
    height: calc(100vh - 200px);
}

.footer {
    background-color: blue;
    height: 100px;
}